@import url("./base/index.css");

.main__title {
	text-align: center;
}

.main__museums {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 30px;
	max-width: 1200px;
	padding: 4rem;
	padding-block: 18rem;
	margin: 0 auto;
}
