/* stylelint-disable custom-property-pattern */
:root {
	/* Z-Index Scale (private vars) */
	--_z-index-1: 1;
	--_z-index-10: 10;

	/* ------------------------- */

	/* Z-Index Applications */
	--z-index-1-screen-foreground: var(--_z-index-1);

	/* ------------------------- */

	/* Z index para debugging */
	--z-index-10-dev: var(--_z-index-10);

	/* ------------------------- */
}
