.header {
	position: absolute;
	inset-block-start: 0;
	display: flex;
	justify-content: space-between;
	height: 100px;
	height: fit-content;
	inline-size: 100%;
	padding: var(--space-10);

	.header__nav {
		display: flex;
		gap: var(--space-6);
		align-items: center;
	}

	.header__logo {
		color: var(--white);

		.header__logo--dark {
			color: var(--dark-gray);
		}

		&:active {
			color: var(--gold);
		}
	}
}

.header--position-initial {
	position: initial;
}
