.footer {
	display: flex;
	gap: 140px;
	justify-content: center;
	padding-block: 80px;
	background-color: var(--almost-black);
	color: var(--white);
}

.footer__text {
	max-width: 515px;
}

.footer--gold {
	background-color: var(--gold);
	color: var(--almost-black);
}
